
/*! ESTILOS DEL CARRUSEL*/
.carrusel{
    position: relative;
    top: 0px;
    width:100%;
}
.carrusel_img img{
    width: 100%;
    height: auto; 
    max-height: 100vh; 
    object-fit: cover;
}
.carrusel_tex{
    height: 140px;
    left: 10%;  
    right: auto;  
    top: 50%;    
    transform: translateY(-50%); 
    text-align: left; 
    width: auto;
    background: rgba(0, 0, 0, 0.202); 
    padding: 10px;
    border-radius: 5px;
}
.carrusel_tex p{
    font-size: 3em;
    font-family: "Old Standar TT";
}